<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='frame/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />

    <meta charset="UTF-8">
    <title>
       {% block title %}
        {% endblock %}
    </title>
</head>
<body>
{% if current_user.is_authenticated %}
        <p>Это содержимое доступно только залогиненным пользователям.</p>
    {% else %}
        <p>Пожалуйста, <a href="/login">войдите</a>, чтобы увидеть содержимое.</p>
    {% endif %}
   <h1 class="square">
       Здарова, мы из доты, и мы обьесним почему у наснет мозгов
   </h1>
       {% block design %}
        {% endblock %}
</body>
</html>